@page "/spa"
@using System.Text.Json
@using TerzaApp.Dati.Strutture
@inject TerzaApp.Dati.Archivio db

<h3>Single Page Application</h3>

@if (stoInserendo)
{
    <div class="row g-2">
        <div class="col-md-3">Nome</div>
        <div class="col-md-9"><input class="form-control" @bind="bozza.Nome"/></div>
        <div class="col-md-3">Prezzo</div>
        <div class="col-md-3"><input class="form-control" type="number" @bind="bozza.Prezzo"/></div>
        <div class="col-md-3">Categoria</div>
        <div class="col-md-3">
            <select class="form-select" @onchange="CategoriaModificata">
                <option value="0">Nessuna</option>
                @foreach(Categoria singola in db.categorie)
                {
                    if(singola.IdCategoria == bozza.IdCategoria)
                    {
                        <option value="@singola.IdCategoria" selected>@singola.Nome</option>
                    } else
                    {
                        <option value="@singola.IdCategoria">@singola.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-12">Descrizione</div>
        <div class="col-md-12"><textarea class="form-control" @bind="bozza.Descrizione" /></div>
        <div class="col-md-12 text-end">
            <div class="btn btn-primary" @onclick="Salva">Salva</div>
        </div>
    </div>
} else
{
    <input class="form-control" @bind="ricerca" placeholder="Cerca tra i prodotti..." />

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th class="text-end">Prezzo</th>
                    <th width="1%"></th>
                    <th width="1%" class="text-end">
                        <div class="btn btn-sm btn-success" @onclick="e => stoInserendo = true">nuovo</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Prodotto singolo in db.prodotti)
                {
                    if (singolo.Nome.Contains(ricerca) || singolo.Descrizione.Contains(ricerca))
                    {
                        <tr>
                            <td>@db.categorie.FirstOrDefault( x => x.IdCategoria == singolo.IdCategoria )</td>
                            <td>@singolo.Nome</td>
                            <td>@singolo.Descrizione</td>
                            <td class="text-end">@singolo.Currency</td>
                            <td class="text-end">
                                <div class="btn btn-sm btn-warning" @onclick="e => Modifica(singolo)">modifica</div>
                            </td>
                            <td class="text-end">
                                <div class="btn btn-sm btn-danger" @onclick="e => Cancella(singolo) ">cancella</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}



@code {
    string ricerca = "";
    Prodotto bozza = new Prodotto();

    bool stoInserendo = false;

    protected override void OnInitialized()
    {
        // controllo se esiste un archivio dei prodotti

        base.OnInitialized();
    }

    void CategoriaModificata(ChangeEventArgs evento)
    {
        bozza.IdCategoria = int.Parse(evento.Value.ToString());
    }

    void Modifica(Prodotto selezionato)
    {
        bozza = selezionato;
        stoInserendo = true;
    }

    void Cancella(Prodotto selezionato)
    {
        db.prodotti.Remove(selezionato);
        db.Salva();
    }

    void Salva()
    {
        // se non esiste di già
        if (!db.prodotti.Contains(bozza))
        {
            // lo inserisco
            db.AddProdotto(bozza);
        }

        // poi salvo
        db.Salva();
        
        // e resetto il draft su cui lavora l'utente
        bozza = new Prodotto();
        
        // chiudo alla fine la fiestra
        stoInserendo = false;
    }
}
